body {
    font-family: Arial;
    margin: 40px;
  }
  
  input, button {
    display: block;
    margin: 10px 0;
    padding: 8px;
  }
  
  table {
    width: 50%;
    border-collapse: collapse;
  }
  